"""
This file is simply a template for detailing which environment variables are required. This allows documentation without disclosing senstive information.
"""

# import necessary libraries, utilities, and modules